@using BugTracker.Models
@model CreateNewProject

<div class="modal fade" id="add-project" tabindex="-1" role="dialog" aria-labelledby="navCreateProj" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100"><strong>New Project</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("CreateProject", "Projects", FormMethod.Post, new { id = "createProj" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group px-2 py-1 m-1">
                        @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control col-12", @id = "Projectname", @placeholder = "Project Name", @autocomplete = "off" })
                        <small>@Html.ValidationMessageFor(model => model.ProjectName, null, new { @class = "text-danger " })</small>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn close mr-auto" type="button" style="font-size:16px;" data-dismiss="modal">Cancel</button>
                    <button type="submit" value="Submit" id="btnCreateProj" class="btn btn-danger ml-auto" style="font-size:16px;">Submit</button>

                </div>
            }
        </div>
    </div>
</div>