<style>
    .choicewrapper > div:not(:last-child) {
        border-color: gray;
        border-right-width: 1px;
        border-right-style:solid;      
    }

    #copyright{
        padding-left: 15px;
        padding-right: 15px;
    }
</style>

<div class="container justify-content-center align-self-center">
    <footer class="mt-4">
        <div class="row w-50 mx-auto choicewrapper text-center">
            <div class="col my-auto">
                @Html.ActionLink("About", "About", "Home")
            </div>
            <div class="col my-auto">
                @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")
            </div>
            <div class="col my-auto">
                <p class="m-0 text-muted small">Copyright &#169 @DateTime.Now.Year - BuggyBoy</p>
            </div>
        </div>
    </footer>
</div>
