.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.navbar {
}

html, body {
    min-height: 100vh;
    height: 100%;
    position: relative;
    margin: 0px;
    padding-bottom: 60px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

body{
    padding-top:65px;
    margin-bottom:60px;
}

/*CURRENT*/
/*html {
    height: 100%;
    margin: 0px;
    
}*/
/*body {
    height: 100%;
    margin: 0px;
    padding-top: 65px;
    padding-bottom: 0px;
    
}*/
/*CURRENT*/
/*body {
    min-height: 100vh;
    position: relative;
    margin: 0px;
    padding-top: 65px;
    padding-bottom:0;
    box-sizing:border-box;
}*/
/*#renderbody {
    min-height: 100vh;
    position: relative;
    background-color: whitesmoke;
    overflow-y: auto;
    overflow-x:hidden;
}*/
#renderbody {
    min-height: 100%;
    height:auto !important;
    height: 100%; 
    
    position: relative;
    background-color: whitesmoke;
    overflow-y: hidden;
    overflow-x: hidden;
}


#footer {
    height:60px;
    position: relative;
    bottom: 0;
    border-top: 1px solid black;
    background-color: #d9534f;
}

.container-fluid {
    width: 100vw;
    background-color: #dcdcdc !important;
}

#openProject, #createProject {
    width: 100px !important;
    border-radius: 12px;
}

#navCreateProj {
    color: #d9534f;
    opacity: 0.8;
    font-size: 23px;
}

#navCreateProj:hover{
    opacity: 1.0;
    cursor: pointer;
}

a #navOpenProj {
    color: #d9534f;
    opacity: 0.8;
    font-size: 23px;
}
.modal-footer .btn:focus {
    outline: none;
    box-shadow: none;
}
a:hover #navOpenProj {
    opacity: 1.0;
}
