#Backgroundlayer {
    /*height:100vh;*/
    /*padding-top:65px;*/
    /*height: 100%;
    width: 100vw;
    overflow-y: auto;*/
    /*background-color: #dcdcdc !important;*/
    /*background-color: whitesmoke !important;*/
    /*overflow-y: scroll !important;*/
}

#projectList {
    height: 100%;
    background-color: whitesmoke;
}

.border-bottom {
    border-width: 2px !important;
}

.blockContainer {
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.deletelink {
    background-color: #d9534f;
    border-radius: 12px;
}

.deletelink:hover{
    filter: brightness(80%);
}

.fa-trash-alt {
    color: white;
}

.table td {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: hidden !important;
    border-bottom: 1px solid !important;
    border-color: #dee2e6 !important;
    background-color: white;
}

a {
    display: block;
}

tr:hover td {
    background-color: whitesmoke !important;
}

.headerClass {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: hidden !important;
    border-bottom-width: 2px !important;
    background-color: #d9534f;
    color: white;
}
