@{
    Layout = null;
    ViewBag.Title = "About";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<style>
        html, body {
            min-height: 100vh;
            height:100%;
            position: relative;
            margin: 0px;
            padding-top: 0;
            padding-bottom: 60px;
            box-sizing: border-box;
            background-color: whitesmoke;
        }

        #footerabout {
            height: 60px;
            position: relative;
            bottom: 0;
            border-top: 1px solid black;
            background-color: #d9534f;
        }

        #aboutpage{
            /*min-height: 100%;*/
            flex-shrink: 0;
            border: 3px solid #d9534f;
            border-radius: 3px 3px;
            background-color: white;
        }

        #aboutcontainer{
            min-height: 100%;
        }

        @*Easy solution for horizontal line w/ word in middle. From 
            https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle*@
        h2 {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid #000;
            line-height: 0.1em;
            margin: 10px 0 20px;
        }

            h2 span {
                background-color: white;
                padding: 0 10px;
            }
</style>

</head>
<body>
    <div class="container py-5" id="aboutcontainer">
        <div class="d-flex flex-column shadow" id="aboutpage">
            <div class="col text-center pt-5">
                <img class="img-responsive pb-3 " src="~/Content/Logo2.png" alt="" />
            </div>
            <div class="col text-center pt-2 pb-5 px-5">
                <h2 class="font-weight-bold"><span>ABOUT</span></h2>

            </div>
            <div class="col px-5 pb-5">
                <p style="font-size:24px;">
                    <span>
                        Buggyboy is a lightweight bug tracking website designed for solo developers to easily record and track the bug squashing process.
                        This is my first endeavour into building a website from start to finish.
                        I used Microsoft's ASP.NET MVC 5 framework to build Buggyboy in an effort to learn the MVC design pattern, code-first approach with Entity framework, Razor syntax, Bootstrap, CSS, Javascript, and Identity framework.
                        Many mistakes were made, even on this page right now, but I am overall happy with how Buggyboy turned out.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div id="footerabout">
        @{ Html.RenderPartial("_Footer");}
    </div>
    
</body>
</html>

