@{

    ViewBag.Title = "Home Page";
}



<div class="container h-100" id="mainPageContainer">
    <div class="row h-100 justify-content-center align-content-center mt-5">
        <strong class="col-12 text-muted text-center" style="font-size: 53px">Open an Existing Project</strong>
        <strong class="col-12 text-muted text-center " style="font-size: 53px">Or</strong>
        <strong class="col-12 text-muted text-center " style="font-size: 53px">Create a New Project</strong>

    </div>
</div>

@section footer{
    @{Html.RenderPartial("_Footer");}
}
