@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewBag.Title = "Home Page";
}

<div id="mainPageContainer" class="container-fluid h-100 mx-0 align-items-center">
    <div class="row h-100 justify-content-center align-content-center ">
        <strong class="col-12 text-muted text-center" style="font-size: 53px">Open an Existing Project</strong>
        <strong class="col-12 text-muted text-center " style="font-size: 53px">Or</strong>
        <strong class="col-12 text-muted text-center " style="font-size: 53px">Create a New Project</strong>

    </div>
</div>
