@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <style>
        #openProject, #createProject{
            width: 100px !important;
            border-radius: 12px;
        }

    </style>
}

<div id="mainPageContainer" class="container-fluid h-100 mx-0 align-items-center">
    <div class="row">
        <div class="col-12 text-right">
            <div class="btn-group mt-3">
                <div>
                    <button type="button" class="btn btn-danger btn-sm mr-2" id="openProject">Open</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger btn-sm" id="createProject">Create</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid h-100 w-100" id="contentPage">
        <div class="row h-100 justify-content-center align-content-center ">
            <strong class="col-12 text-muted text-center" style="font-size: 53px">Open an Existing Project</strong>
            <strong class="col-12 text-muted text-center " style="font-size: 53px">Or</strong>
            <strong class="col-12 text-muted text-center " style="font-size: 53px">Create a New Project</strong>

        </div>
    </div>
</div>



<script>
   
    document.getElementById('createProject').onclick = function () { createProj() };
    document.getElementById('openProject').onclick = function () { openProj() };

    function createProj() {
        $('#contentPage').load('@Url.Action("CreateProject","Projects")')
    }

    function openProj() {
        $('#contentPage').load('@Url.Action("OpenProject","Projects")')
    }
</script>
