@using BugTracker.Models
@model ProjectViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "OpenProject";
}

<style type="text/css">
    #Backgroundlayer {
        height: 100%;
        width: 100vw;
        /*background-color: #dcdcdc !important;*/
        background-color: whitesmoke !important;
        overflow-y: scroll !important;
    }

    #projectList {
        background-color: whitesmoke !important;
    }

    .border-bottom {
        border-width: 2px !important;
    }

    .blockContainer {
        display: block;
        height: 100%;
        width: 100%;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .btn {
        background-color: #d9534f;
    }

    .fa-trash-alt {
        color: white;
    }

    .table td {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: hidden !important;
        border-bottom: 1px solid !important;
        border-color: #dee2e6 !important;
        background-color: white;
    }

    a {
        display: block;
    }

    tr:hover td {
        background-color: whitesmoke !important;
    }

    .headerClass {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: hidden !important;
        border-bottom-width: 2px !important;
        background-color: #d9534f;
        color: white;
    }
</style>

@*TODO:
    Need to be able to click a name and change view to that project.    *done*
    Improve UI layout. *done*
    Add an Edit button and delete.  *done*
    Need ONclick to pass id of cell *done*
    Dates may be wrong / need to fix *maybe*
    Pagging??? *done*
    Scrollbar fix?? *done*
    NEED TO BE ABLE TO DELETE (VERY CONFUSING RIGHT NOW)
*@
<div id="Backgroundlayer">
    <div class="container " id="projectList">
        <div class="row">
            <div class="col-12 p-4">
                <h2>Projects</h2>
            </div>
        </div>
            @Html.Action("_OpenProjectPartial", Model)
    </div>
</div>


