@model BugTracker.Models.IndexViewModel
@{
    ViewBag.Title = "Account Settings - BuggyBoy";
}

<style>
    #renderbody {
        background-color: whitesmoke !important;
    }

    #manageWrap {
        padding-right: 0px;
        padding-left: 0px;
        min-width: 170px;
    }

    #manageItems {
        background-color: white !important;
    }

    #AccountSettings {
        padding-left: 15px;
        padding-right: 15px;
    }

    #itemsToSelect > .btn {
        border-right: 0px;
        border-left: 0px;
        border-top-width: 1px !important;
        border-bottom-width: 1px !important;
        border-radius: 0px;
    }

        #itemsToSelect > .btn:focus {
            outline: none;
            box-shadow: none;
        }

        #itemsToSelect > .btn:hover {
            color: white;
            background-color: #d9534f;
        }

        #itemsToSelect > .btn:focus {
            color: white;
            background-color: #d9534f;
        }
</style>

<title>@ViewBag.Title</title>


<div class="d-flex flex-row vh-100" id="AccountContainer">
    <div class="d-flex border-right" id="manageWrap">
        <div class="flex-column px-0 col-12" id="manageItems">
            <div class="mt-4 text-center mb-4">
                <h2 class="" id="AccountSettings">Account Settings</h2>
            </div>
            <div class="col-12 px-0 btn-group align-content-center flex-column" id="itemsToSelect">
                <button class="btn btn-block border-bottom border-top" type="button" id="changePassword">Change Password</button>
                <button class="btn btn-block border-bottom mt-0 ml-0" type="button" id="deactivateAccount">Deactivate Account</button>
            </div>

        </div>
    </div>
    <div class="d-flex" id="selectedManageItemWrap">
        <div class="flex-column" id="insertedItem">
        </div>
    </div>
</div>

@section footer{
    @{Html.RenderPartial("_Footer");}
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#changePassword").on('click', function () {
                $.get('@Url.Action("ChangePassword","Manage")', function (data) {
                    $('#insertedItem').html(data);
                });
            });
        });


        $(function () {
            $("#deactivateAccount").on('click', function () {
                $.get('@Url.Action("DeleteAccount","Manage")', function (data) {
                    $('#insertedItem').html(data);
                });
            });
        });
    </script>
}

