@{
    Layout = null;
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
    <div class="col-12">
        <p>Click @Html.ActionLink("here", "Login") to login.</p>
    </div>
</div>
	
